<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,300&display=swap" rel="stylesheet">

</head>
<body>
    {% for serial_number, company, job_position, job_location in jobs %}
        <h1  style="font-family: 'Montserrat', sans-serif;" >• {{job_position}}</h1>
        
        <h2 style="font-family: sans-serif; display: inline;">{{company}}</h2>
        <h4 style="display: inline;"><script src="https://cdn.lordicon.com/lusqsztk.js"></script>
     <lord-icon src="https://cdn.lordicon.com/zzcjjxew.json"
    trigger="loop" style="width:50px;height:50px">
      </lord-icon>{{job_location}}</h4>
    {% endfor %}

</body>
</html>