<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subcategory</title>
</head>
<body>
    <form action='/job' method="GET">
        <label for="subcategory">Choose a subcategory:</label>
  <input list="subcategories" name="subcategory" id="subcategory">
  <datalist id="subcategories">
    
            {% for subcategory in subcategories %}
            <option value="{{ subcategory }}">
            {% endfor %}
  </datalist>
  <input type="submit">
</form>
</body>
</html>