<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Choose a state</h1> 
    <form action='/category?state=<statename>' method="GET">
        <label for="state">Choose a state:</label>
  <input list="states" name="state" id="state">
  <datalist id="states">
    
            {% for state in states %}
            <option value="{{ state }}">
            {% endfor %}
  </datalist>
  <input type="submit">
</form>
</body>
</html>